@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out;
}
button {
    transition: all 0.3s ease-in-out;
}
button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
input:disabled {
    background-color: #f9f9f9;
    color: #b0b0b0;
    cursor: not-allowed;
}
div.time-box {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}